  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');
  *::before,
  *::after,
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
   :root {
      --primary-pale-blue: hsl(225, 100%, 94%);
      --primary-very-pale-blue: hsl(225, 100%, 98%);
      --desaturated-blue: hsl(224, 23%, 55%);
      --dark-blue: hsl(223, 47%, 23%);
  }
  
  body {
      font-family: 'Outfit', sans-serif;
      font-family: 'Red Hat Display', sans-serif;
      font-size: 16px;
      background: var(--primary-pale-blue) url("./images/pattern-background-desktop.svg") center top no-repeat;
      background-size: contain;
      width: 100vw;
      height: 100vh;
  }
  /* footer */
  
  .attribution {
      font-size: 11px;
      text-align: center;
  }
  
  .attribution a {
      color: hsl(228, 45%, 44%);
  }